.orders-container {
    padding: 20px;
  }
  
  .order-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .order-card {
    background-color: #000000;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .order-card h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .order-card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .order-card ul li {
    margin-bottom: 5px;
  }
  
  .order-card img {
    display: block;
    margin-top: 10px;
    max-width: 100%;
    border-radius: 5px;
  }
.rib{
    display: flex;
    
}
  button{
    color: yellow;
  }
.box2{
    height:40px;
    width:40px;
    margin-left: 20px;
}
.box1{
    margin-top: 10px;
}
  